.projectsPage {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectsTexts {
  width: 65%;
}

.projectsTitle {
  font-size: 50px;
  font-weight: 600;
}

.projectsTitle span {
  color: #ca2c92;
}

.projectsDescription {
  margin: 20px 0;
}
.projectsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .projects {
    padding: 10px;
  }

  .projectsTexts {
    width: 100%;
  }

  .projectsDescription {
    display: none;
  }
}
